Package: com.mmc.wsmsgpreview
Name: wsmsgpreview
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jay Lee
Author: Jay Lee
Section: Tweaks
